<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('layouts/meta');-%>
        <title>Clean Blog - Start Bootstrap Theme</title>
        <%-include('layouts/style');-%> 
    </head>
    <body>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>404 ERROR PAGE NOT FOUND</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Footer-->
        <%-include('layouts/footer');-%>
    </body>
</html>
